
@{
    ViewBag.Title = "CreateStats";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Stats Ekleme Sayfası</h2>
<form method="post">
    <label>Stats Adı</label>
    <input type="text" class="form-control" name="StatsTitle" style="border:groove" />
    <label>Stats Değeri(Sadece Sayı)</label>
    <input type="text" class="form-control" name="StatsDescription" style="border:groove" />
    <br />
    <button class="btn btn-info">Stats Ekle</button>
</form>


