@model List<AcunmedyaAkademiPortfolio.Models.Table_project>
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Proje Ekleme Sayfası</h2>
<form method="post">
    <label>Proje Başlığı</label>
    <input type="text" class="form-control" name="projectTitle" style="border:groove" />
    <br />
    <label>Proje Açıklaması</label>
    <input type="text" class="form-control" name="Description" style="border:groove" />
    <br />
    <button class="btn btn-info">Proje Ekle</button>
</form>