@model List<AcunmedyaAkademiPortfolio.Models.Table_category>

@{
    ViewBag.Title = "PortfolioList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Portfolyo ID</th>
        <th>Portfolyo Title</th>
        <th>Portfolyo Açıklama</th
        <th>Portfolyo ImageURL</th
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>

    <h3>Rabia Işık</h3>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Categoryıd</td>
            <td>@item.Title</td>
            <td>@item.ShortDescription</td>
            <td>@item.ImageUrl</td>
            <td><a href="/Portfolio/DeletePortfolio/@item.Categoryıd" class="btn btn-danger">Sil</a></td>
            <td><a href="/Portfolio/UpdatePortfolio/@item.Categoryıd" class="btn btn-success">Güncelle</td>
        </tr>
    }
</table>
<a href="/Portfolio/CreatePortfolio/" class="btn btn-primary">Yeni Portfolyo Girişi</a>

